<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                    <a href="#test">Bangladesh Area River</a>
                    </li>
                   <li class="footer-menu-divider">&sdot;</li>
                   <li>
                        <a href="#ditch">Ditch</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#rhighway">Regional Highway</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#nhighway">National Highway</a>
                    </li>
                   <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#ponds">Homested Water Body</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#zilla">Zilla Road</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; {{ site.title }} All Rights Reserved</p>
            </div>
            <div class="col-md-4">
                Credits: Landing Page is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com/">Start Bootstrap</a>.
            </div>
        </div>
    </div>
</footer>
